@use "@/assets/styles/global" as g;

.setting {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  //gap: 1.2rem;
}
.setting__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 1.5rem;
}
.setting__box__big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;

}
.setting__box__title{
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  width: 5rem;
  color: g.$text_color;
  background-color: g.$tint-color3;
  backdrop-filter: blur(2px); /* 关键：毛玻璃模糊 */
  -webkit-backdrop-filter: blur(2px); /* Safari 兼容 */
}
.btn {
  padding-bottom: 0.5rem;
  font-family: "Noto Serif SC", serif !important; /* 思源宋体 */
  font-weight: 600;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: g.$setting_btn_color;
  height: 50px;
  width: 100%; // 宽度
  margin-top: 2rem;
  font-size: 1.5rem;

  &:hover {
    background-color: g.$setting_btn_hover_color !important;
  }
}

.spanName {
  font-size: 2rem;
}
