@use "@/assets/styles/global" as g;
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  outline: none;
}

/* 轨道：用渐变实现左红右白 */
.range::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, g.$shade_color 0%, red var(--percent), g.$text_color var(--percent), white 100%);
  border-radius: 4px;
  cursor: pointer;
}

/* 滑块 */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: g.$primary-color;
  cursor: pointer;
  margin-top: -6px; /* 垂直居中 */
  border: 2px solid g.$text_color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
