@use "@/assets/styles/global.scss" as g;

.box {
  position: absolute;
  top: 0px;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 0%);
  background: g.$box_bg_color;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  height: 80vh;
  font-size: 2.5rem;
}

input {
  background-color: g.$text_color;
  color: g.$tint-color;
  &::placeholder {
    color: g.$text_dark_color;
  }
  display: block;
  width: 80%; // 宽度
  height: 50px; // 高度
  font-size: 2rem; // 字体大小（20px）
  padding: 0 16px; // 内边距（让文字不贴边）
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: "Noto Serif SC", serif !important; /* 思源宋体 */
  font-weight: 600;
}
.subBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1 solid g.$shade_color;
}

.name {
  font-size: 2rem;
  color: g.$primary-color;
}

.btn {
  padding-bottom: 0.5rem;
  font-family: "Noto Serif SC", serif !important; /* 思源宋体 */
  font-weight: 600;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: g.$setting_btn_color;
  height: 50px;
  width: 80%; // 宽度
  margin-top: 2rem;
  font-size: 2rem;

  &:hover {
    background-color: g.$setting_btn_hover_color !important;
  }
}

.btnCancel {
  background-color: g.$text_dark_color;
  &:hover {
    background-color: g.$text_dark_color !important;
  }
}
